<% if @users.count > 0 %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created on</th>
      <th>Projects</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= user.projects.count %></td>
      <td><%= link_to raw("<i class='fa fa-trash'></i>"), user_path(user),
      data: {:confirm => 'Are you sure?'}, method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h4>There are no users yet.</h4>
<% end %>

